body {
    padding: 5%;
    background: #222222;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

.button {
    background: #666666;
    padding: 10px;
    border-radius: 5px;
}

